<button type="button" class="hero__button" data-modal-open>
  Открыть модалку команды
</button>

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__close-button" data-modal-close></button>

    <div class="swiper slide-container">
      <div class="swiper-wrapper card-wrapper"></div>

      <div class="swiper-button-next swiper-navBtn"></div>
      <div class="swiper-button-prev swiper-navBtn"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
